@font-face {
  font-family: "MyFont";
  src: url("../fonts/my-font.woff2") format("woff2"),
    url("../fonts/my-font.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  /*display: flex;
  flex-direction: column;*/
}

header > ul > li {
  float: left;
  list-style-type: none;
  list-style: none;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

/*header > ul > li > a {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}*/

.logo {
  width: 300px;
  height: 100px;
  /*background-color: rgb(196, 125, 139);*/
  background-image: url("../img/logownews.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  border: 1px solid blue;
  margin: 0;
  padding: 0;
}

.logo > svg {
  background-size: 100px 300px;
}

header > ul {
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
}

.news > img {
  justify-self: center;
  height: 250px;
  width: 250px;
}

.news > h2 {
  justify-self: center;
  font-size: 1em;
}

.news > p {
  justify-self: center;
  font-size: 1em;
}

header {
  display: inline-flex;
  background-color: rgb(223, 221, 221, 0.5);
  width: 100%;
  font-size: 2em;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: aqua;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: rgb(97, 131, 97);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: rgb(131, 97, 116);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: rgb(172, 155, 110);
  }
  .news {
    grid-template-columns: 1fr 1fr;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: rgb(97, 63, 65);
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body {
    background-color: rgb(95, 95, 95);
  }
}
