@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("ttf"),
    url("../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

ul > * {
  cursor: pointer;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto";
}

.news > img {
  justify-self: center;
  height: 250px;
  width: 250px;
}

.news > h2 {
  justify-self: center;
  font-size: 1em;
}

.news > p {
  justify-self: center;
  font-size: 1em;
}
