<div class="footer-news"> 

    <p><strong>Source</strong> </p><p> <span><a href="https://newsapi.org/" target="_blank"> newsapi.org</a></span>
        <p>WORLD NEWS</p>
        <p><strong>Project by </strong> </p> <p> Patrick | Gracia</p>
        <p>420-W01-HR JAVASCRIPT WITH LIBRARIES | Lucas Stephenson</p>



</div>