<div class="home-news"> 
    <div>
        <h1>United States-Mexico-Canada Agreement</h1>
        <p>Under the leadership of President Donald J. Trump, the United States has reached an agreement with Mexico and Canada in the renegotiation of the North American Free Trade Agreement (NAFTA). The new United States-Mexico-Canada Agreement (USMCA) is a mutually beneficial win for North American workers, farmers, ranchers, and businesses. When finalized and implemented, the agreement will create more balanced, reciprocal trade that supports high-paying jobs for Americans and grows the North American economy.</p>
    </div>
</div>